#progressbar {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar>div {
  background-color: rgb(255, 0, 157);
  width: 90%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}